<div class='gt-panel-top-bar'>
  <a href='#list' class='gt-panel-top-bar-button gt-back-to-list'></a>
  <h3>{{#if triggerId}}Edit{{else}}Create{{/if}}</h3>
  <a href='#' class='gt-panel-top-bar-button gt-close-drawer'></a>
</div>

<div class='gt-panel-content'>
  <form class='gt-form gt-form-edit'>
    <section class='gt-form-section'>
      <label for='tags'>
        <span class='gt-label-left'>When a device tagged</span>
        <input type='text' name='tags' placeholder='enter tags' class='gt-input-right' value='{{tagList tags}}'>
      </label>

      <label for='condition'>
        <select name='condition[direction]' class='gt-direction'>
          {{#select condition.direction}}
          <option value='enter'>enters</option>
          <option value='leave'>leaves</option>
          {{/select}}
        </select>

        <span>a</span>

        <select name='geometry-type' class='gt-input-right'>
          {{#selectShape condition}}
          <option value='polygon'>polygon</option>
          <option value='radius'>circle</option>
          {{/selectShape}}
        </select>
      </label>

      <div class='gt-actions'>
        <label for="action">
          <select name='action-select' class='gt-label-block gt-input-wide'>
            <option value='notification'>send a notification</option>
            <option value='callbackUrl'>post the a server</option>
            <option value='trackingProfile'>change the tracking profile</option>
          </select>
        </label>

        <label for='gt-notifications' class="gt-trigger-event">
          <!-- Action One -->
          <label for='gt-notification-action'>
            <span class='gt-label-left'> to the device with</span>
            <select class='gt-input-right'>
              <option value='message'>a message:</option>
              <option value='sound'>a sound:</option>
              <option value='data'>data:</option>
              <option value='url'>a URL:</option>
              <option value='icon'>an icon:</option>
            </select>
          </label>

          <label class='gt-action'>
            <textarea class='gt-action-message-box' name='action[notification][text]' placeholder='message'>{{action.notification.text}}</textarea>
          </label>

          <!-- Next Action -->
          <label for='gt-notification-action'>
            <span class='gt-label-left'>and </span>
            <select class='gt-input-left'>
              <!-- <option value='message'>a message:</option> -->
              <option value='sound'>a sound:</option>
              <option value='data'>data:</option>
              <option value='url'>a URL:</option>
              <option value='icon'>an icon:</option>
            </select>

            <input class='gt-input-wide' type='text' name='action[notification][sound]' placeholder='sound' value='{{action.notification.sound}}'>
          </label>


          <!-- Next Action -->
          <label for='gt-notification-action'>
            <span class='gt-label-left'>and </span>
            <select class='gt-input-left'>
              <!-- <option value='message'>a message:</option> -->
              <!-- <option value='sound'>a sound:</option> -->
              <option value='data'>data:</option>
              <option value='url'>a URL:</option>
              <option value='icon'>an icon:</option>
            </select>
          <!-- </label> -->

          <!-- <label class='gt-action'> -->
            <textarea class='gt-input-wide' name='action[notification][data]' placeholder='{ your: "data" }'>{{action.notification.data}}</textarea>
          </label>

          <!-- Next Action -->
          <label for='gt-notification-action'>
            <span class='gt-label-left'>and </span>
            <select class='gt-input-left'>
              <!-- <option value='message'>a message:</option> -->
              <!-- <option value='sound'>a sound:</option> -->
              <!-- <option value='data'>data:</option> -->
              <option value='url'>a URL:</option>
              <option value='icon'>an icon:</option>
            </select>

            <input class='gt-input-wide' type='text' name='action[notification][url]' placeholder='http://' value='{{action.notification.url}}'>
          </label>

          <!-- Next Action -->
          <label for='gt-notification-action'>
            <span class='gt-label-left'>and </span>
            <select class='gt-input-left'>
              <!-- <option value='message'>a message:</option> -->
              <!-- <option value='sound'>a sound:</option> -->
              <!-- <option value='data'>data:</option> -->
              <!-- <option value='url'>a URL:</option> -->
              <option value='icon'>an icon:</option>
            </select>

             <input class='gt-input-wide' type='text' name='action[notification][icon]' placeholder='icon' value='{{action.notification.icon}}'>
          </label>

          <span class="gt-add-notification-event"><a href="#">+ add an action</a></span>
        </label>

      <div class='gt-actions'>
        <label for='action' class="gt-trigger-event">
          <label>
            <span class='gt-label-left'>also </span>
            <select name='action-select' class='gt-input-right gt-label-block gt-input-wide'>
              <!-- <option vlaue='notification'>send a notification</option> -->
              <option value='trackingProfile'>change the tracking profile</option>
              <option value='callbackUrl'>post the a server</option>
            </select>
          </label>

          <label for='gt-trackingProfile-action'>
            <span class='gt-label-left'>to </span>
            <select class='gt-input-right gt-input-wide' name='action[trackingProfile]'>
              {{#select action.trackingProfile}}
              <option>---</option>
              <option value='fine'>fine</option>
              <option value='adaptive'>adaptive</option>
              <option value='rough'>rough</option>
              <option value='off'>off</option>
              {{/select}}
            </select>
          </label>
        </label>
      </div>

      <div class='gt-actions'>
        <label for='action' class="gt-trigger-event">
          <label>
            <span class='gt-label-left'>and </span>
            <select name='action-select' class='gt-input-right gt-label-block gt-input-wide'>
              <!-- <option vlaue='notification'>send a notification</option> -->
              <!-- <option value='trackingProfile'>change the tracking profile</option> -->
              <option value='callbackUrl'>post to a server</option>
            </select>
          </label>

          <label for='gt-postUrl-action'>
            <input class='gt-input-fill' type='text' name='action[callbackUrl]' placeholder='http://' value='{{action.callbackUrl}}'>
          </label>
        </label>
      </div>

      <span class="gt-add-notification-event"><a class='gt-button' href="#">+ add an event</a></span>
    </section>

    <section class='gt-form-section gt-nick-wrapper'>
      <label for='title'>
        <span class='gt-label-left'>Title <em>(optional)</em></span>
        <input class='gt-input-right' type='text' name='properties[title]' placeholder='My Cool Trigger' value='{{properties.title}}'>
      </label>
    </section>

    <section class='gt-form-section'>
      <button class='gt-button gt-button-blue gt-submit'>Update</button>
      {{#if triggerId}}
      <ul class='gt-edit-controls'>
        <li>
          <a class='gt-reset-delete' href='#'>&#x2716;</a>
        </li>
        <li>
          <button class='gt-item-delete gt-button-delete'></button>
        </li>
      </ul>
      {{/if}}
    </section>
  </form>
</div>