<span class='gt-item-edit gt-icon {{actionIcon condition.direction}} gt-icon-polygon'></span>
<h5>
  {{#if properties.title}}
  <a class='gt-item-edit' href='#{{triggerId}}/edit'>
    <span>{{properties.title}}</span>
  </a>
  {{/if}}
  <a class='gt-item-details {{#unless properties.title}}gt-item-details-visible{{/unless}}' href='#{{triggerId}}/edit'>
    <span>
      {{condition.direction }} {{#unless condition.geo.geojson}}
      {{condition.geo.distance}} meter radius
      {{else}}
      {{condition.geo.geojson.coordinates.0.length}} sided polygon
      {{/unless}}
    </span>
  </a>
</h5>
<div class="gt-item-toolbar">
  <a class='gt-edit-icon' href='#{{triggerId}}/edit'></a>
  <a class='gt-delete-icon' href="#"></a>
</div>
<div class='gt-tags'>
  <strong>Tags:</strong> {{{tagLinks tags}}}
</div>
<div class='gt-id'>
  <strong>Id:</strong> {{triggerId}}
</div>
<!--<ul class='gt-item-controls'>
  <li><a class='gt-reset-delete' href='#'>&#x2716;</a></li>
  <li><button class='gt-item-delete gt-button-small gt-button-delete'></button></li>
</ul>-->