<a href='#{{triggerId}}/edit'>
<span class='gt-item-edit gt-icon {{actionIcon condition.direction}} gt-icon-polygon'></span>
<h5>
  <a class='gt-item-edit' href='#{{triggerId}}/edit'>
    {{#unless properties.title}}
    <span>{{triggerId}}</span>
    {{else}}
    <span>{{properties.title}}</span>
    {{/unless}}
  </a>
</h5>
<ul class='gt-tags'>
  {{#each tags}}
  {{#unlessDefaultTag this}}
  <li>{{this}}</li>
  {{/unlessDefaultTag}}
  {{/each}}
</ul>
<ul class='gt-item-controls'>
  <li><a class='gt-reset-delete' href='#'>&#x2716;</a></li>
  <li><button class='gt-item-delete gt-button-small gt-button-delete'></button></li>
</ul>