<span class='gt-item-edit gt-icon {{actionIcon condition.direction}} gt-icon-polygon'></span>
<h5>
  {{#if properties.title}}
  <a class='gt-item-edit' href='#{{triggerId}}/edit'>
    <span>{{properties.title}}</span>
  </a>
  {{/if}}
  <a class='gt-item-details {{#unless properties.title}}gt-item-details-visible{{/unless}}' href='#{{triggerId}}/edit'>
    <span>
      {{condition.direction }} {{#unless condition.geo.geojson}}
      {{condition.geo.distance}} meter radius
      {{else}}
      {{condition.geo.geojson.coordinates.0.length}} sided polygon
      {{/unless}}
    </span>
  </a>
</h5>
<div class="gt-item-toolbar">
  <a class='gt-edit-icon' href='#{{triggerId}}/edit'></a>
  <a class='gt-delete-icon' href="#"></a>
</div>
<div class='gt-tags'>
  <strong>Tags:</strong> {{{tagLinks tags}}}
</div>
<div class='gt-id'>
  <strong>Id:</strong> {{triggerId}}
</div>
<div class="gt-list-delete">
  <h5>Delete {{#if properties.title}}{{properties.title}}{{else}}this trigger{{/if}}?</h5>
  <button class="gt-confirm-delete gt-button-small gt-button-delete">Delete</button>
  <button class="gt-cancel-delete gt-button-small gt-button-delete">Cancel</button>
</div>