<div class='gt-notification-action'>
  <div class='gt-notification-left'>
    <label for='gt-notification-action'>
      <span class='gt-label-left'> and </span>
      <select class='gt-input-left'>
        <!-- <option value='message'>a message:</option> -->
        <option value='sound'>a sound:</option>
        <option value='data'>data:</option>
        <option value='url'>a URL:</option>
        <option value='icon'>an icon:</option>
      </select>
    </label>
  </div>

  <div class='gt-notification-right'>
    <!-- <textarea class='gt-action-message-box' name='action[notification][text]' placeholder='message'>{{action.notification.text}}</textarea> -->
    <input class='gt-input' type='text' name='action[notification][sound]' placeholder='sound' value='{{action.notification.sound}}'>
    <!-- <textarea class='gt-input' name='action[notification][data]' placeholder='{ your: "data" }'>{{action.notification.data}}</textarea> -->
    <!-- <input class='gt-input' type='text' name='action[notification][url]' placeholder='http://' value='{{action.notification.url}}'> -->
    <!-- <input class='gt-input' type='text' name='action[notification][icon]' placeholder='icon' value='{{action.notification.icon}}'> -->
  </div>
</div>